# Dependencias
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Next.js output
.next/
out/
dist/
build/

# Archivos del sistema
.DS_Store
Thumbs.db

# Ambiente
.env
.env.*

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml

# Archivos innecesarios
*.log
