# Dependencias locales
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Entornos
.env
.env.*

# Cache y builds
dist/
build/
tmp/
logs/

# Archivos del sistema
.DS_Store
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
docker-compose.yml
